<h2>Assignments</h2>
<div class="card-list">
    <create-assignment></create-assignment>
    <mat-card class="assignment" *ngFor="let assignment of assignments$ | async">
        <small>Assignment</small>
        <display-camera [id]="assignment.cameraId"></display-camera>
        <mat-divider></mat-divider>

        <display-vehicle [id]="assignment.vehicleId"></display-vehicle>

        <mat-icon (click)="removeAssignment(assignment)" class="remove" title="Remove Assignment" aria-label="Remove Assignment">backspace</mat-icon>
    </mat-card>
</div>