<div class="container">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <mat-nav-list>
                <a mat-list-item routerLink="/assignments" routerLinkActive="active">
          Assignments</a
        >
        <a mat-list-item routerLink="/vehicles" routerLinkActive="active">
          Vehicles</a
        >
        <a mat-list-item routerLink="/cameras" routerLinkActive="active"
          >Camera</a
        >
        <search-input [searchSubject]="search$"></search-input>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <search-results *ngIf="showSearch; else routes" [searchQuery]="search$">
      </search-results>
      <ng-template #routes>
        <router-outlet></router-outlet>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>